extends auth-header

block body
	div.launch
		div.toss-button#toss Toss!
	div#iframe-host
		iframe#youtube-iframe(frameborder="0" height="385" width="640")
	div.launcher
		div.container
			div.close X
			h2(style='text-align: center;') Select your shot
			canvas(id='canvas-shot-maker', width='550', height='280', style='margin-bottom: 10px;')
			table(style='width: 100%;')
				tbody
					tr
						td
							span Angle (0 - 45):
							input(placeholder='35', id='angle')
						td
							div.toss-button Toss!
						td
							span Speed (30 - 150):
							input(placeholder='120', id='speed')