nav
	div.box
		h2 Player Queue
		hr
		span Currently Playing: 
		span#current-player
		br
		span(style='vertical-align: top;') Up Next:
		ul#player-queue
	div.box
		h2 Leaderboard
		hr
		div TODO
	div.box
		h2 Instructions
		hr
		ol.roboto.instruction-list
			li Use the arrow keys on the keyboard to adjust where the webcam is facing.
			li Select the angle and speed the launcher will shoot at.
			li Toss!