html, body {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', Myriad, Arial, sans-serif;
	background-color: #000;
}

header {
	display: inline-block;
	width: 100%;
	background-color: #444;
	color: #fff;
	z-index: 1;
    position: relative;
}

header span {
	float: right;
	margin: 7px;
}

header span:nth-child(1) {
	float: left;
}

header span a {
	text-decoration: none;
	color: #fff;
}

nav {
	/* DANGER: You cannot just change the "300" here. You need to change it in several areas. */
	width: 300px;
	top: 30px;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #fff;
}

.wrapper {
	position: fixed;
    top: 30px;
    width: calc(100% - 300px);
    left: 300px;
    height: 105%;
}

.box {
	border: 4px solid #000;
	margin: 8px;
	padding: 5px;
}

.roboto {
	font-family: Roboto, Arial, sans-serif;
}

nav h2 {
	margin: 8px;
	padding: 0;
	text-decoration: underline;
	text-align: center;
}

nav hr {
	color: #000;
	background-color: #000;
	height: 4px;
	border-style: none;
	margin: 4px -5px;
}

.instruction-list  {
	counter-reset: list;
}

.instruction-list  > li {
	list-style: none;
	margin-bottom: 6px;
}

.instruction-list > li:before {
	content: counter(list) ") ";
	counter-increment: list;
}

#player-queue {
	list-style: none;
	display: inline-block;
	padding-left: 4px;
	margin-top: 0px;
}

.tab-wrapper {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 6px;
}

.tab:nth-child(1) {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-left-style: solid;
}

.tab:nth-child(3) {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-right-style: solid;
}

.tab {
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	padding: 1px 12px;
	cursor: pointer;
	transition: all 0.2s;
}

.tab:hover {
	background-color: #eee;
}

.tab-active {
	background-color: #ddd;
}
/*
.tab-block ul {
	list-style: none;
}*/

.tab-block {
	display: none;
}

.active {
	display: block !important;
}

#iframe-host {
	width: 100%;
	height: 100%;
	text-align: center;
}

#chat {
	width: 100%;
    height: 200px;
	min-height: 200px;
	max-height: 200px;
	overflow-y: scroll;
}

#chat span {
	margin: 0;
}

@media only screen and (max-height: 910px) {
	nav {
		overflow-y: scroll;
	}
}